.left{
    width: 60%;
    font-family: 'Tahoma Regular', sans-serif;
}
.headingA{
    font-size: 35px;
    text-align: center;
    padding: 0 0 30px 0;
    font-family: 'Tahoma Bold', sans-serif !important;
}
.subheading{
    font-size: 25px;
    text-align: center;
    padding: 0 0 30px 0;
    color: brown;
    font-family: 'Tahoma Bold', sans-serif !important;
}

.logodiv{
    width: 40%;
}
/* .card{

} */